
@page { margin: 1in; }

@media print { body { margin: 0 } }
@media screen { body { margin: 2em 20% } }

body { font-size: 20pt; text-align: justify }

p { margin: 0 }

body > p { text-align: center }
.docTitle { text-transform: uppercase; font-weight: bold }


/* notes */

.note { margin-top: 1em; margin-bottom: 1em; font-size: 14pt }
.note > p, .note > .quotedContent > p { text-indent: 2ch }

.note > .crossHeading { margin-top: 1em; margin-bottom: 1em; margin-left: 4em; margin-right: 4em; text-align: center; font-size: smaller; text-transform: uppercase }

.note > .quotedContent { margin-top: 8pt; margin-bottom: 8pt }

.quotedContent.indent { margin-left: 4ch }

p.indent { margin-left: 2ch }
p.indent-first { text-indent: 2ch }


.small-caps { font-variant: small-caps }

a { text-decoration: none; color: inherit }
a:hover, a:hover * { text-decoration: underline }

a.footnote { font-size: 10pt; vertical-align: super; font-style: italic }
.note.footnote > .num { font-size: 10pt; vertical-align: super; font-style: italic }
.note.footnote > .num + p { display: inline }

div.three-star { margin-top: 0.5em; text-align: center }
span.three-star { white-space: nowrap }

.five-star { margin: 1em; text-align: center; word-spacing: 10vw }

.cut-in-head {
	position: relative;
	width: 8em;
	margin-right: 1em;
	float: left;
	clear: left;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 6pt;
	padding-bottom: 6pt;
	text-align: left;
	text-indent: 0
}

sup { font-size: 10pt }

hr { margin-top: 1em; margin-bottom: 1em }
hr.short { width: 1in }
hr.bold { border-bottom: 2px solid black }

/* these are no longer used */
.full-space-above { margin-top: 8pt }
.half-space-above { margin-top: 4pt }


/* USC */

.usc .title > header { text-align: center; font-variant: small-caps }

.usc .crossHeading { margin-top: 1em; margin-bottom: 1em; margin-left: initial; text-align: center; text-transform: uppercase; font-size: smaller }

.usc .indent-children > section { margin-left: 2em }

.usc .section > .num { margin-left: 1em; font-variant: small-caps }
.usc .section > .heading { font-variant: small-caps }

.style3 .section > header { margin: 0.5em; text-align: center; font-variant: small-caps }

.usc .section > .num + .subsection { display: inline }
.usc .subsection > .num { margin-left: 1em }
.usc .section > .num + .subsection > .num { margin-left: 0 } 
.usc .subsection > .num + p { display: inline }
.usc .subsection > .heading { font-variant: small-caps }
.usc .subsection > .heading + p { display: inline }


.usc .subsection > .num + .paragraph { margin-left: 0 }

.usc .paragraph.inline { display: inline; margin-left: 0 }

.usc .paragraph > .num { margin-left: 1em }
.usc .paragraph.inline > .num { margin-left: 0 }

.usc .num + .paragraph > .num { margin-left: 0 }

.usc .paragraph > .num + p { display: inline }
.usc .paragraph > .heading { font-weight: normal; font-variant: small-caps }
.usc .paragraph > .heading + p { display: inline; margin-left: 0 }


.usc .paragraph > .num + .subparagraph { margin-left: 0 }

.usc .subparagraph > .heading { font-variant: small-caps }

.usc .subparagraph > .num + .clause { display: inline }
.usc .subparagraph > .num + .clause > .num { margin-left: 0 }

.usc .clause > .num + .subclause { display: inline }
.usc .subclause > .num { margin-left: 1em }
.usc .clause > .num + .subclause > .num { margin-left: 0 }
.usc .subclause > .num + p { display: inline }
