
@import url("house.css");

section { margin-top: 1em }

.section > .heading { margin-bottom: 1em; text-align: center; text-transform: uppercase }

.section > p { text-indent: 1em }
.content > p { text-indent: 1em }
span.text-indent { display: inline-block; text-indent: 1em }

.crossHeading { text-align: center; text-transform: uppercase }

table { font-size: inherit }

.cut-in-head { display: inline-block; text-indent: 0 }
