

.title > header { margin-top: 1em; margin-bottom: 1em; text-align: center; font-variant: small-caps }
.subtitle > header { text-align: center }
.part > header { text-align: center; font-variant: small-caps }

.crossHeading { margin-top: 1em; margin-bottom: 1em; text-align: center; font-variant: small-caps; font-size: smaller }
.crossHeading.citation { font-variant: normal }

.section { margin-top: 0.5em }

.section > .num { margin-left: 2ch; font-variant: small-caps }
.section > .heading { font-variant: small-caps }
.section > .num + p { display: inline }

/* subsections */

.subsection > .num { margin-left: 2ch }
.subsection > .heading { font-variant: small-caps }
.subsection > .num + p { display: inline }
.subsection > .heading + p:not(.five-star) { display: inline }

.num + .subsection { display: inline }
.num + .subsection > .num { margin-left: 0 }

.subsection.inline { display: inline }
.subsection.inline > .num { margin-left: 0 }


/*  paragraphs */

.paragraph { margin-left: 4ch }
.paragraph > .cut-in-head { left: -8ch }  /*  §1127  */
.paragraph > .num { margin-left: 2ch }
.paragraph > .heading { font-variant: small-caps }
.paragraph > .num + p { display: inline }
.paragraph > .heading + p:not(.three-star) { display: inline }

.no-heading > .paragraph { margin-left: 0 }
.no-heading > .paragraph:first-of-type { display: inline }
.no-heading > .paragraph:first-of-type > .num { margin-left: 0 }

.paragraph.inline { display: inline; margin-left: 0 }
.paragraph.inline > .num { margin-left: 0 }


/* subparagraphs */

.subparagraph { margin-left: 4ch }
.subparagraph > .num { margin-left: 2ch }
.subparagraph > .heading { font-variant: small-caps }
.subparagraph > .num + p { display: inline }
.subparagraph > .heading + p { display: inline }

.no-heading > .subparagraph { margin-left: 0 }
.no-heading > .subparagraph:first-of-type { display: inline }
.no-heading > .subparagraph:first-of-type > .num { margin-left: 0 }

.subparagraph.inline { display: inline; margin-left: 0 }
.subparagraph.inline > .num { margin-left: 0 }

/* clauses */

.clause { margin-left: 4ch }
.subparagraph > .num + .clause { display: inline }
.clause > .num { margin-left: 2ch }
.subparagraph > .num + .clause > .num { margin-left: 0 }
.clause > .num + p { display: inline }
.clause > .heading + p { display: inline }

.no-heading > .clause { margin-left: 0 }
.no-heading > .clause:first-of-type { display: inline }
.no-heading > .clause:first-of-type > .num { margin-left: 0 }

.clause.inline { display: inline; margin-left: 0 }
.clause.inline > .num { margin-left: 0 }


/* subclauses */

.subclause { margin-left: 4ch }
.subclause > .num { margin-left: 2ch }
.subclause > .num + p { display: inline }

.no-heading > .subclause { margin-left: 0 }
.no-heading > .subclause:first-of-type { display: inline }
.no-heading > .subclause:first-of-type > .num { margin-left: 0 }

/* items */

.item > .num { margin-left: 4ch }
.item > .num + p { display: inline }



/* Style 2 */

.style2 .section { margin-top: 1em }
.style2 .section > header { padding-left: 3ch; text-indent: -3ch; font-weight: bold }
.style2 .section > .chapeau { display: block; text-indent: 2ch }
.style2 .section > p { text-indent: 2ch }

.style2 .paragraph { margin-left: 4ch }
.style2 .no-heading .paragraph { margin-left: 0 }

.style2 .clause { margin-left: 2ch }
.style2 .clause > .num { margin-left: 4ch }
.style2 .no-heading .clause { margin-left: 0 }
.style2 .no-heading .clause > .num { margin-left: 2ch }
.style2 .no-heading .clause:first-of-type > .num { margin-left: 0 }

.style2 .subclause { margin-left: 2ch }
.style2 .subclause > .num { margin-left: 4ch }
.style2 .no-heading > .subclause { margin-left: 0 }
.style2 .no-heading > .subclause:first-of-type { display: inline }
.style2 .no-heading > .subclause:first-of-type > .num { margin-left: 0 }

.style2 .item { margin-left: 2ch }


/* Style 3 */

.style3 .section { margin-top: 1em }
.style3 .section > header { margin-bottom: 1em; text-align: center; font-variant: small-caps }

.style3 .section > p { text-indent: 2ch }

.style3 .section > .paragraph { margin-left: 4ch }

.style3 .subparagraph { margin-left: 2ch }

.style3 .clause { margin-left: 0 }
.style3 .clause > .num { margin-left: 4ch }

.style3 .subclause { margin-left: 0 }
.style3 .subclause > .num { margin-left: 6ch }

