
@import url("house.css");

body > section > .heading { text-align: center; font-size: larger; letter-spacing: 4px }

th { text-align: left; font-weight: normal }

th + th { text-align: right }
td + td { text-align: right }


i { padding-left: 1ch }


th:first-of-type, td:first-of-type { text-indent: -1em }

.entry > th, .entry > td { font-variant: small-caps }
.entry > th > i, .entry > td > i { font-variant: normal }

.subentry > th:first-of-type { padding-left: 2em; font-style: italic }
.subentry > td:first-of-type { padding-left: 2em }

.subsubentry > th:first-of-type, .subsubentry > td:first-of-type { padding-left: 4em }

.subsubsubentry > td:first-of-type { padding-left: 6em }

span.entry { font-variant: small-caps; font-style: normal }

