
@import url("house.css");
@import url("usc.css");

body > section > .heading { margin-top: 1em; margin-bottom: 1em; text-align: center; font-size: larger; font-weight: bold }

.preliminary > p { text-indent: 2ch }

.preliminary > p > .cut-in-head { text-indent: 0 }

.toc { margin: 2em auto }
.toc > header { margin-bottom: 1em; font-size: larger; font-variant: small-caps; font-weight: bold }
ol { list-style-type: decimal }
ol ol { list-style-type: upper-alpha; margin-left: 1em }

body > section > section > header { margin-top: 1em; margin-bottom: 1em; text-align: center; font-size: larger }

.three-star { white-space: nowrap }
p.three-star { margin-top: 1em; margin-bottom: 1em; text-align: center; word-spacing: 1ch }
p.three-star.inline { display: inline; word-spacing: 0 }


header.hanging { text-align: justify; padding-left: 2ch; text-indent: -2ch }
body > section > section > .level > header { margin-top: 1em; margin-bottom: 1em; text-align: center; font-size: 16pt; text-transform: uppercase }
body > section > section > .level > header.hanging { text-align: justify; padding-left:2ch; text-indent: -2ch }

.crossHeading.hanging { text-align: justify; padding-left:2ch; text-indent: -2ch }

.style3 .section > header { margin-left: 0.5in; margin-right: 0.5in }

.crossHeading { font-size: 16pt; text-transform: uppercase }
.crossHeading.citation { text-transform: none }

p.chapeau { text-indent: 2ch }

.continuation > p { text-indent: 2ch }

.proviso { text-indent: 2ch }
.proviso.inline { display: inline; text-indent: 0 }

.note.footnote { margin-bottom: 0 }
.note.footnote + .note.footnote { margin-top: 0; margin-bottom: 1em }
